body{
    font-family: verdana;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    margin: 0%; 
    background-color: #1e1b28;
}

#headerr, #footerr{
    background-color: #1e1b28;
    width: 100%; 
    height: 120px;  
}

.logoo{
    float: left;
    margin: 1% 45%;
    height: 100px;
    width: 100px;
    display: inline;
}

.logg{
    height: 100%;
width: 50%;
float: left;
}

.legg{
    width: 50%;
    float: right;
    height: 100%;
 text-align: right;
    }

    .h{
      
        width: 100px;
        padding: 9px;
        font-size: 14px;
        font-family: verdana;
        
    background-color: #be2119;
    color:#ffffff ;
    text-align: center;
    }

    .hh{
        margin-top: 6%;
        margin-right: 9%;
     
    }

    #photo{
        background: rgb(100, 180, 20);
    width: 100%;
    height: 350px;
    background-image: url(https://cdn.prod.website-files.com/5f9bee46b9797ea7bdf87204/65f07bcc0d9e4b3e937b044c_4.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 250px;
    }

    .tt{
     
     background-image: linear-gradient(#00000080, #00000080);
    display: inline;
      
      
        padding: 130px 220px 100px 220px;
    }

    .m{
        font-family: verdana;
        color: #ffffff;
        font-size: 65px;
        display: inline;
      font-weight: bold;
    }